# CS534 Homework 3


Please provide an answer to the following question:

## Question 1 (10 pts, Effort 50%)

### Evaluate the result on a real dataset between a single logistic regression and AdaBoost with logistic regression (use K-Fold cross validation).
<br><br>
NOTE: accuracy if data is balanced
<br>
f1-score if data is inbalanced
<br>
Try wine dataset, and also linearly and non-linearly seperable iris

Ill answer this using the linearly seperable portion of the iris dataset, and then the non-linearly seperable.<br>
Linearly Seperable:

In [12]:
#importing necessary packages
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score
from sklearn.base import clone

In [6]:
#loading the iris data and filtering for linearly seperable
data = load_iris()
X, y = data.data, data.target

X = X[y != 2]
y = y[y != 2]

In [10]:
#prepare the cross-validation procedure
cv = KFold(n_splits=5, random_state=100, shuffle=True)

#create logistic regression model
single_lr_model = LogisticRegression()
# evaluate model
scores = cross_val_score(single_lr_model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

Accuracy: 1.000 (0.000)

In [14]:
#create Adaboost logistic regression model
adaboost_lr = AdaBoostClassifier(estimator=clone(single_lr_model), n_estimators=50, learning_rate=1.0)

# evaluate model
adaboost_lr_scores = cross_val_score(adaboost_lr, X, y, cv=cv, scoring='accuracy')

# report performance
print('Accuracy: %.3f (%.3f)' % (np.mean(adaboost_lr_scores), np.std(adaboost_lr_scores)))

Accuracy: 1.000 (0.000)

In [15]:
#loading the iris data and filtering for non-linearly seperable
data = load_iris()
X, y = data.data, data.target

X = X[y != 0]
y = y[y != 0]

In [16]:
#prepare the cross-validation procedure
cv = KFold(n_splits=5, random_state=100, shuffle=True)

#create logistic regression model
single_lr_model = LogisticRegression()
# evaluate model
scores = cross_val_score(single_lr_model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

Accuracy: 0.950 (0.032)

In [17]:
#create Adaboost logistic regression model
adaboost_lr = AdaBoostClassifier(estimator=clone(single_lr_model), n_estimators=50, learning_rate=1.0)

# evaluate model
adaboost_lr_scores = cross_val_score(adaboost_lr, X, y, cv=cv, scoring='accuracy')

# report performance
print('Accuracy: %.3f (%.3f)' % (np.mean(adaboost_lr_scores), np.std(adaboost_lr_scores)))

Accuracy: 0.950 (0.032)

Adaboost did not improve the accuracy

## Question 2 (10 pts, Effort 50%)
Use DBscan (try with different parameters) and K-means (K=3) on IRIS Dataset and discuss/compare the results with the iris ground truth.
Please provide an explanation of why K-fold cross validation is not required for the comparison among these different algorithms. 
<br><br>
NOTE: v1, completeness and homogeineity. No k-fold here. Check how the cluster is aligned with the ground truth

In [22]:
from sklearn.cluster import DBSCAN, KMeans
from sklearn.metrics import completeness_score, homogeneity_score, v_measure_score

In [19]:
#Load Iris data
data = load_iris()
X, y = data.data, data.target

In [20]:
#Apply DBSCAN clustering
dbscan = DBSCAN(eps=0.5, min_samples=5)
dbscan_labels = dbscan.fit_predict(X)

In [21]:
#Apply K-Means clustering
kmeans = KMeans(n_clusters=3, random_state=100)
kmeans_labels = kmeans.fit_predict(X)

/Users/uwailaekhator/anaconda3/envs/NLP/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Users/uwailaekhator/anaconda3/envs/NLP/lib/python3.9/site-packages/threadpoolctl.py:1010: RuntimeWarning:
Found Intel OpenMP ('libiomp') and LLVM OpenMP ('libomp') loaded at
the same time. Both libraries are known to be incompatible and this
can cause random crashes or deadlocks on Linux when loaded in the
same Python program.
Using threadpoolctl may cause crashes or deadlocks. For more
information and possible workarounds, please see
    https://github.com/joblib/threadpoolctl/blob/master/multiple_openmp.md

  warnings.warn(msg, RuntimeWarning)

In [24]:
#Calculate completeness, homogeneity and v measure for K-Means clustering
kmeans_completeness = completeness_score(y, kmeans_labels)
kmeans_homogeneity = homogeneity_score(y, kmeans_labels)
kmeans_v1_score = v_measure_score(y, kmeans_labels)
print('Evaluation metrics for K-means: ')
print(f"Completeness: {kmeans_completeness:.3f}")
print(f"Homogeneity: {kmeans_homogeneity:.3f}")
print(f"V-measure: {kmeans_v1_score:.3f}")

Evaluation metrics for K-means:
Completeness: 0.765
Homogeneity: 0.751
V-measure: 0.758

In [25]:
#Calculate completeness, homogeneity and v measure for DB-Scan
dbscan_completeness = completeness_score(y, dbscan_labels)
dbscan_homogeneity = homogeneity_score(y, dbscan_labels)
dbscan_v1_score = v_measure_score(y, dbscan_labels)
print('Evaluation metrics for DBSCAN: ')
print(f"Completeness: {dbscan_completeness:.3f}")
print(f"Homogeneity: {dbscan_homogeneity:.3f}")
print(f"V-measure: {dbscan_v1_score:.3f}")

Evaluation metrics for DBSCAN:
Completeness: 0.657
Homogeneity: 0.560
V-measure: 0.604

The K-means method performed better than DBScan in terms of Completeness, Homogeneity and F1 Score.

### Please provide an explanation of why K-fold cross validation is not required for the comparison among these different algorithms.

K-fold cross validation is a resampling procedures used to evaluate machine learning models on a limited data sample. It helps to estimate the ability of a model to perform on unseen data. It is  used in Supervised learning where the data has labels, and so it cannot be used in Kmeans or DBScan because there are no labels and they both fall under Unsupervised learning.

## Question 3 (3 pts, Effort 8%)
Write the explicit constraints (without using any vectorial notation, as a summation of single variables multiplied by a constant + bias term) of the Support Vector Machine to classify correctly iris dataset (Iris-Versicolor vs. others). In particular use 5 points in Iris-Versicolor, 2 points for iris-setosa, and 3 points for iris Virginia.
Please show the points you selected and after the constraints

<br>NOTE:
4 w and 1b

In [31]:
import pandas as pd

In [33]:
# Load the iris dataset
data = load_iris()

# Create a DataFrame
df = pd.DataFrame(data.data, columns=data.feature_names)

# Add target column to DataFrame
df['target'] = data.target

# Print the first few rows of the DataFrame
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### SVM Constraints:

\begin{align*}
\begin{cases}
  x_i\cdot w_i + b_0 \geq 1 \quad \text{if} \quad y_i \quad \text{belongs to positive class}\\
  \\
  x_i \cdot w_i + b_0 \leq -1 \quad \text{if} \quad y_i \quad \text{belongs to negative class}
\end{cases}
\end{align*}


I will be using this condition to determine positive and negative classes:

\begin{align*}
\begin{cases}
  \text{if the class is Iris versicolar, then its positive}\\
  \\
  \text{else it is negative}
\end{cases}
\end{align*}

### 2 points from Iris Setosa:

In [37]:
setosa = df[(df['target'] == 0)]
setosa.head(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0

\begin{align*}
&5.1 w_1 + 3.5 w_2 + 1.4 w_3 + 0.2 w_4 + b_0 \leq -1\\
&4.9 w_1 + 3.0 w_2 + 1.4 w_3 + 0.2 w_4 + b_0 \leq -1
\end{align*}

### 5 points from Iris Versicolor:

In [38]:
versicolor = df[(df['target'] == 1)]
versicolor.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1

\begin{align*}
&7.0 w_1 + 3.2 w_2 + 4.7 w_3 + 1.4 w_4 + b_0 \geq 1\\
&6.4 w_1 + 3.2 w_2 + 4.5 w_3 + 1.5 w_4 + b_0 \geq 1\\
&6.9 w_1 + 3.1 w_2 + 4.9 w_3 + 1.5 w_4 + b_0 \geq 1\\
&5.5 w_1 + 2.3 w_2 + 4.0 w_3 + 1.3 w_4 + b_0 \geq 1\\
&6.5 w_1 + 2.8 w_2 + 4.6 w_3 + 1.5 w_4 + b_0 \geq 1
\end{align*}

### 3 points from Iris Virginia:

In [39]:
virginia = df[(df['target'] == 2)]
virginia.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2
102,7.1,3.0,5.9,2.1,2

\begin{align*}
&6.3 w_1 + 3.3 w_2 + 6.0 w_3 + 2.5 w_4 + b_0 \leq -1\\
&5.8 w_1 + 2.7 w_2 + 5.1 w_3 + 1.9 w_4 + b_0 \leq -1\\
&7.1 w_1 + 3.0 w_2 + 5.9 w_3 + 2.1 w_4 + b_0 \leq -1
\end{align*}